body {
  background-color: #FAF7F0;
}
h1{
   color: #000000;
}
h3{
   color: #100720;
}
hr {
  border-style: inherit;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
.center {
 margin: auto;
 width: 50%;
 padding: 30px;
}
